<div class="every-component">
	<mat-tab-group>
		<mat-tab label="Szolgáltatások">
			<!-- <app-no-records [data$]="services$" [loading]="isServiceListLoading"></app-no-records> -->
			<mat-expansion-panel
				(afterCollapse)="onCollapse()"
				*ngFor="let service of services"
				class="expansion-panel"
			>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ service.name }}
					</mat-panel-title>

					<mat-panel-description>
						{{ service.price | currency : "HUF" }}
					</mat-panel-description>
				</mat-expansion-panel-header>

				<br />
				<span>
					Itten majd lenni more info about {{ service.name }}
				</span>
			</mat-expansion-panel>
		</mat-tab>
	</mat-tab-group>

	<button
		class="newFAB"
		mat-fab
		color="primary"
		(click)="openNewServiceDialog()"
	>
		<mat-icon>add</mat-icon>
	</button>
</div>
