mat-expansion-panel {
    margin: 1%;
    align-self: center;
}

.actionButtons {
    margin: 1%;
}

.actionButtonsDiv {
    display: flex;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    margin: 1%;
}

mat-tab-group {
    width: 80%;
    align-self: center;
}

.prices_div_forms {
    column-count: 3;
    display: flex;
}

.prices_div_forms mat-form-field {
    width: 100%;
}

.prices_div_forms button {
    margin-top: 2%;
}

.add-prices-form {
    width: 75%;
    margin: auto;
    margin-bottom: 2%;
    padding: 1%;
}

@media (min-width: 800px) {
}

@media (max-width: 800px) {
    mat-card {
        width: 100%;
        margin: 0;
    }
    mat-form-field {
        width: 80%;
        margin: 1%;
        align-self: center;
    }

    .add-prices-form {
        width: 100%;
    }

    .prices_div_forms {
        margin: auto;
    }
}

.newFAB {
    position: fixed;
    bottom: 5%;
    right: 5%;
}