mat-form-field {
  margin: 1%;
  width: 50%;
}

mat-card {
  width: 70%;
  margin: 5%;
  padding: 5%;
  align-self: center;
}

form {
  width: 100% !important;
}

@media (max-width: 800px) {
  mat-card {
    width: 90%;
    margin: 5%;
  }
  mat-form-field {
    margin: 1%;
    width: 75%;
  }
}