<div class="every-component">
	<mat-tab-group>
		<mat-tab label="Bevételek">
			<!-- <app-no-records [data$]="services$" [loading]="isServiceListLoading"></app-no-records> -->
			<mat-expansion-panel
				(afterCollapse)="onCollapse()"
				*ngFor="let income of incomes"
				class="expansion-panel"
			>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ income.name }}
					</mat-panel-title>

					<mat-panel-description>
						{{ income.amount | currency : "HUF" }}
					</mat-panel-description>
				</mat-expansion-panel-header>

				<br />
				<span>
					Itten majd lenni more info about {{ income.name }}
				</span>
			</mat-expansion-panel>
		</mat-tab>
	</mat-tab-group>
</div>
