<div class="every-component">
	<mat-tab-group>
		<mat-tab label="Bevételek">
			<!-- <app-no-records [data$]="services$" [loading]="isServiceListLoading"></app-no-records> -->
			<mat-expansion-panel
				(afterCollapse)="onCollapse()"
				*ngFor="let income of incomes"
				class="expansion-panel"
			>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ income.name }}
					</mat-panel-title>

					<mat-panel-description>
						{{ income.amount | currency : "HUF" }}
					</mat-panel-description>
				</mat-expansion-panel-header>

				<br />
				<span *ngIf="!isEditing">
					Itten majd lenni more info about {{ income.name }}
				</span>

				<mat-action-row>
				<!-- <mat-action-row *ngIf="!isMobile"> -->
					<div class="actionButtonsDiv">
						<button
							class="actionButtons"
							mat-raised-button
							color="accent"
							(click)="onEditIncome(income)"
						>
							Módosítás
						</button>
						<button
							class="actionButtons"
							mat-raised-button
							color="warn"
							(click)="onDeleteStart()"
						>
							Törlés
						</button>
					</div>
				</mat-action-row>

				<form [formGroup]="editedIncomeForm" *ngIf="isEditing">
					<mat-form-field>
					  <mat-label>Megjegyzés: </mat-label>
					  <input matInput type="text" formControlName="comment" />
					</mat-form-field>
					<br>
					<mat-checkbox formControlName="isPaid">
					  Fizetve?
					</mat-checkbox>
					<br>
					<mat-form-field>
					  <mat-label>Bevétel létrehozási dátuma</mat-label>
					  <input matInput [matDatepicker]="pickerIncomeCreationDate" formControlName="createdAt">
					  <mat-datepicker-toggle matIconSuffix [for]="pickerIncomeCreationDate"></mat-datepicker-toggle>
					  <mat-datepicker #pickerIncomeCreationDate></mat-datepicker>
					</mat-form-field>
					<br>
					<button mat-raised-button color="primary" (click)="updateIncome()">Adat frissítés</button>
				  </form>

				<p *ngIf="isDeleting">
					<button mat-raised-button color="warn" (click)="deleteIncome(income._id)">Igen, biztos törölni akarom</button>
				  </p>
			</mat-expansion-panel>
		</mat-tab>
	</mat-tab-group>

	<button
		class="newFAB"
		mat-fab
		color="primary"
		(click)="openNewIncomeDialog()"
	>
		<mat-icon>add</mat-icon>
	</button>
</div>
